<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layoutProduto}">
<head>
<meta charset="utf-8">
<title>Cadastro do Produto</title>

<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!-- jQuery responsável pelo Autocomplete -->
<script>
$(function (){
    $("#categoria").autocomplete({
        source: "/cdProduto/autocompleteCategoria",
        minLenfth: 2,
        select: function (event, ui) {
        this.value = ui.item.label;
        $("#idCategoria").val(ui.item.value);
        return false;
        }
   }); 
});
</script>

</head>
<body>
	<section layout:fragment="corpo">

		<br /> <br /> <br> <br> <br /> <br />

		<div class="card text-center" style="margin: auto; width: 500px;">
			<div class="card-header">Cadastrar Produto</div>
			<div class="card-body d-flex justify-content-center">
				<form th:action="@{/cdProduto/salvar}" th:object="${usuario}"
					method="POST" enctype="multipart/form-data">
					<input type="hidden" th:field="${usuario.idProduto}" />
					<!-- tabela responsável pelo cadastro do produto -->
					<table>
						<tr>
							<td>Nome:</td>
							<td><input type="text" th:field="${usuario.nome}" /></td>
						</tr>
						<tr>
							<td>Descrição:</td>
							<td><input type="text" th:field="${usuario.descricao}" /></td>
						</tr>

						<tr>
							<td>Categoria:</td>
							<td><input id="categoria"
								th:field="${usuario.categoria.nome}" /> <input id="idCategoria"
								type="hidden" th:field="${usuario.categoria.id}" /></td>
						</tr>

						<tr>
							<td>CEP:</td>
							<td><input type="text" th:field="${usuario.cep}"></td>
						</tr>

						<tr>
							<td>Telefone:</td>
							<td><input type="text" th:field="${usuario.tel}"></td>
						</tr>

						<tr>
							<td>Foto:</td>
							<td><input type="file" th:name="file" /> <input
								type="hidden" th:field="${usuario.foto.id}" /></td>
						</tr>

						<tr>
							<td></td>
							<!-- botoões de cadastrar e cancelar -->
							<td><input type="submit"
								th:value="${usuario.idProduto} == 0 ? Cadastrar : Editar"
								class="btn btn-primary" /> <input type="submit"
								value="Cancelar" formaction="/" formmethod="GET"
								class="btn btn-danger" /></td>
						</tr>
					</table>
				</form>
			</div>
			<div th:replace="fragmentos/mensagens"></div>
		</div>
	</section>
</body>
</html>